<!DOCTYPE html>

<html>
    <head>
        <title>This should be a file download and not a page</title>
    </head>
    <body>
        <div>
              This should be a file download and not a page 
        </div>
    </body>
</html>